# === NODE ===
client/node_modules/
node_modules

# === ENV & Credentials ===
.env
client/.env

# === BUILD ARTIFACTS ===
client/dist/

# === LOGS ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === SYSTEM FILES ===
.DS_Store
Thumbs.db

# === IDES & TOOLS ===
.vscode/
.idea/
*.swp
